
/node_modules
/lib
*.tsbuildinfo

/lifeweb
/sssss
*.gif
/update
/data/sim_stats.json
/data/aliases.json
/data/names.txt
/data/no_reply_pings.json

/*.json
!/config.example.json
/*.txt
/*.service
/*.zip
/*.log
/wordle
